body {
    background-color: black;
    color: purple;
  }
  
  .container {
    text-align: center;
    margin-top: 100px;
  }
  
  .name {
    color: #800080; 
    font-family: Arial, sans-serif;
  }
  
  .course {
    color: #800080; 
    font-family: Arial, sans-serif;
  }
  
  .linkedin {
    color: #800080; 
    text-decoration: none;
  }
  
  .linkedin:hover {
    text-decoration: underline;
  }
  